.still {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    92.88deg,
    #b58145 9.16%,
    #ccb743 43.89%,
    #d7b13f 64.72%
  );
  border-radius: 8px;
  padding: 6px 12px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 100px;
}
.homeBtn {
  width: 100%;
  max-width: 500px;
  height: 50px;
  background-color: #003465;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.18px;
  color: #fff;
  border: 0;
  border-radius: 11px;
  margin: 100px auto 0; 
  padding: 0 20px; 
  margin-left: 550px;
}


@media (max-width: 768px) {
  .homeBtn {
    width: 80%; 
    max-width: none; 
    margin: 50px auto 0; 
  }
}

.homeBtn:hover{
  opacity: 0.5;
}
.tablerow{
   background-image: linear-gradient(
    92.88deg,
    #b58145 9.16%,
    #ccb743 43.89%,
    #d7b13f 64.72%
  );
}
.deleteBtn{
   padding: 8px 20px;
   border: 0;
  border-radius: 9px;
   background-color: #b58145;
   color: #fff;
}
.deleteBtn:hover{
  opacity: 0.7;
}